body{
    font-family: Roboto;
    background: #373B44;
background: -webkit-linear-gradient(to right, #4286f4, #373B44);
background: linear-gradient(to right, #4286f4, #373B44);

}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

#may_tinh{
    width:480px;
    height:250px;
    background-color: #eaedef;
    top:20px;
    margin:0 auto;
    position:relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display:none;
}


#xuat_ket_qua {
    text-align: right;
    height:60px;
    margin: 10px 20px;
    font-size: 30px;
}

#ban_phim{
    height: 400px;
    width: 550px;
}

.he_thong, .con_so, .trong  {
    width:50px;
    height:50px;
    margin: 15px;
    float:left;
    border-radius: 50%;
    border-width: 0;
    font-weight:bold;
    font-size:16px;
}

.con_so, .he_thong {
    background-color: #669bf0cc;
}


.he_thong, .con_so{
    cursor: pointer;
}

.he_thong:active, .con_so:active {
    font-size: 13px;
}

.he_thong:focus, .con_so:focus, .trong:focus{
    outline: 0;
}

 button:nth-child(6) {
    font-size: 20px;
    background-color: #FC997C;;
}

button:nth-child(12) {
    font-size: 20px;
    background-color: #FC997C;;
}

